
body{
  background:url(../../images/Bckgrnd.jpg);
}
.container
{
margin-top: 100px;

}

.flex {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin:auto;

}

.myButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
