.chart-container{
    display: flex;
    flex-direction: rox;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    padding: 20px;
    background-color: #0e101c; 
    border-radius: 5px;
    align-items: center;
}

